
<app-header></app-header>
<app-search (success)="setMovieList($event)"></app-search>

<div class="set-movieCount p-2"><i class="fa fa-star-o bg-success" aria-hidden="true"></i> Movies: {{favMovies.length}}</div>
<div class="row set-cardcontent"></div>

<app-movie-list  [movies]="movies" (favArray)="setFavMovieList($event)" [flag]="flag"></app-movie-list>

<!-- for welcome message on home page  -->
<div class="jumbotron mx-4 text-center" >
  <h3 class="display-4 display-heading">Welcome Home <i class="fa fa-home"></i></h3>
  <p class="display-content">Search your movie by entering movie in the search bar.</p>
  <hr class="my-4 lead">
  <p>A great place to search your favourite movies.</p>
</div>
<!-- show movie card gallery -->
<div class="gallery" *ngIf="showHome">

	<div class="row">

		<div class="col-sm-12 col-md-4">
			<a class="imagebox" href="assets/images/iron_man.jpg">
				<img src="assets/images/iron_man.jpg" alt="Bridge">
			</a>
		</div>
		<div class="col-sm-6 col-md-4">
			<a class="imagebox" href="assets/images/aquaman.jpg">
				<img src="assets/images/aquaman.jpg" alt="Park">
			</a>
		</div>
		<div class="col-sm-6 col-md-4">
			<a class="imagebox" href="assets/images/burning.jpg">
				<img src="assets/images/burning.jpg" alt="Tunnel">
			</a>
		</div>
		<div class="col-sm-6 col-md-4">
			<a class="imagebox" href="assets/images/burning.jpg">
				<img src="assets/images/burning.jpg" alt="Burning">
			</a>
		</div>
		<div class="col-sm-6 col-md-4">
			<a class="imagebox" href="assets/images/lightning_cars.jpg">
				<img src="assets/images/lightning_cars.jpg" alt="Cars">
			</a>
		</div> 
		<div class="col-sm-6 col-md-4">
			<a class="imagebox" href="assets/images/iron_man.jpg">
				<img src="assets/images/iron_man.jpg" alt="Iron Man">
			</a>
		</div>

	</div>
</div>


<!-- Display message when no result found for entered movie  -->
<div class="jumbotron mt-2 mx-2" *ngIf="searchResult">
	<h3 class="display-4">No Result Found</h3>
	<p class="lead">404 Not Found.</p>
</div>
<app-footer></app-footer>